body {
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 150px;
}

.left-side {
    display: flex;
    flex-direction: column;
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 42px;
    text-align: center;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    max-width: 100%;
    width: 300px;
    text-align: center;
}

.size-btn, #remove {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 900;
    padding: 10px;
    border-radius: 10px;
    border: 0px;
    background-color: rgb(162, 0, 255);
    color: rgb(255, 255, 255);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 500px;
    height: 500px;
    background-color: black;
    border: 2px solid black;
}

.cell {
    background-color: white;
    border: 1px solid #858585;
}